html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #a53316;
  color: #222a97;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

h1 {
  color: #f04c8b;
}

a {
  color: #387a28;
}
